/* This changes three of the default styles and many webdesigners include this in the top of every style they create. */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ecffd6;
  color: #787878;
}

main {
  margin:auto;
  max-width: 800px;
  background-color: white
}

h1 {
  font-size: 100px;
  font-weight: 700;
  color: #ffb9a6;
  font-family: 'Licorice', cursive;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  color: #ffcba6;
  font-family: 'Comforter', cursive;
}

h3 {
  font-size: 50px;
  font-weight: 700;
  color: #a6e1ff;
  font-family: 'Qwitcher Grypen', cursive;
}

h4 {
  font-size: 40px;
  font-weight: 700;
  color: #a6bcff;
  font-family: 'Comforter', cursive;
}

h5 {
  font-size: 50px;
  font-weight: 700;
  color: #bca6ff;
  font-family: 'Qwitcher Grypen', cursive;
}

p {
  font-size: 30px;
  font-weight: 700;
  font-family: 'Reenie Beanie', cursive;
}
